<h1>Listing ads_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ads_types.each do |ads_type| %>
  <tr>
    <td><%= ads_type.name %></td>
    <td><%= link_to 'Edit', edit_ads_type_path(ads_type) if can? :update, ads_type %></td>
    <td><%= link_to 'Destroy', ads_type, :data => { :confirm => 'Are you sure?' }, :method => :delete if(can?(:delete, ads_type) && ads_type.check_ads_count) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ads type', new_ads_type_path if can? :create, AdsType %>
